body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.task{
  display:flex;
  flex-direction: row;
  width: 100%;
}

div.task-character{
  width: 10%;
}

div.task-details{
  width: 70%;
}

div.task-progress{
  width: 20%;
}

div.task-progress div.progress-bar{
  width: 90%;
  height: 20px;
  background-color: darkgray;
}

div.task-progress div.progress-bar div.progress-bar-fill{
  height: 98%;
  background-color: darkslateblue;
}

div.task-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid black 2px;
  margin: 10px;
}

div.task-box button{
  width: 200px;
}
